# Ignorar Rider e IntelliJ IDEA
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser

# Ignorar caché de Visual Studio
.vs/

# Ignorar archivos de configuración de Rider
FilmManager.sln
global.json

# Archivos generados de .NET
FilmManager/bin/
FilmManager/obj/
FilmManager/obj/**/*.csproj.nuget.dgspec.json
FilmManager/obj/**/*.csproj.nuget.g.props
FilmManager/obj/**/*.csproj.nuget.g.targets
FilmManager/obj/**/*.csproj.FileListAbsolute.txt
FilmManager/obj/**/*.nuget.g.props
FilmManager/obj/**/*.nuget.g.targets
FilmManager/obj/**/*.log
FilmManager/obj/**/*.cache
FilmManager/obj/**/*.pdb
FilmManager/obj/**/*.suo

# Excluir paquetes de NuGet descargados
packages/
